@media (min-width: 980px) and (max-width: 1100px) {
  .footer {
    .footer-logo {
      align-content: center;
      float: left;
    }
    .footer-menu{
      align-content: center;
      float:right;
    }
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .footer {
    .footer-logo {
      align-content: center;
      float: left;
    }
    .footer-menu{
      align-content: center;
      float:right;
    }
  }
}

@media only screen and (max-width: 767px) {
  .footer {
    .footer-logo {
      align-content: center;
      float: top;
    }
    .footer-menu{
      align-content: center;
      float:bottom;
    }
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .footer {
    .footer-logo {
      align-content: center;
    }
    .footer-menu{
      align-content: center;
    }
  }
}