<!DOCTYPE html>
<html class="no-js">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149587497-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-149587497-1');
    </script>
    {{- partial "meta.html" . }}

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    {{- partial "stylesheets.html" . }}
  </head>

  <body id="body">

  	<div id="preloader-wrapper">
  		<div class="pre-loader"></div>
  	</div>

    {{- partial "navbar.html" . }}

    {{- partial "header.html" . }}

    {{- partial "features.html" . }}

    {{- partial "promo.html" . }}

    {{- partial "feature-list.html" . }}

    {{- partial "gallery.html" . }}

    {{- partial "call-to-action.html" . }}

    {{- partial "testimonials.html" . }}

    {{- partial "footer.html" . }}

    {{- partial "scripts.html" . }}

  </body>
</html>
